//1.0 Fonts
//2.0 Vars
//3.0 Functions
//4.0 Global Styles
//5.0 Header
//6.0 Footer
//7.0 Home
//8.0 About
//9.0 Services
//10.0 Service Page
//11.0 Contact

//1.0 Content Fonts
@import "https://fonts.googleapis.com/css?family=DM+Serif+Display:400,600&display=swap"
@import "https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"

//2.0 Content Vars
font-title = 'DM Serif Display', sans-serif
font-text = 'Lato', sans-serif
gold-color-brand = #73501f
gray-color-brand = rgb(70,77,81)
instagram-color = #DD2A7B
facebook-color = #3b5998
twitter-color = #1da1f2
primary-title-fs = 26px
second-title-fs = 20px
third-title-fs = 16px
global-text-fs = 14px
hight-text-fs = 16px

//3.0 Content Functions
isFnTransition(ms)
    transition: all ms linear
    -webkit-transition: all ms linear
    -moz-transition: all ms linear

isFnFullScreen(pos)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: pos

isFnGradientTopBottom(color_a, color_b)
	background: -moz-linear-gradient(top, color_a 0%, color_b 100%) 
	background: -webkit-linear-gradient(top, color_a 0%, color_b 100%) 
	background: linear-gradient(to bottom, color_a 0%, color_b 100%)

isBubbleButton(bg, cl, rad)
    background: bg
    color: cl
    border-radius: rad
    padding: 10px
    text-align: center
    font-family: font-title
    isFnTransition(0.3s)

    i
        margin-left: 10px
        color: cl
    
    &:hover
        box-shadow: 0 5px 15px rgba(0,0,0,0.3)

isFnHeaderImage(img) 
    background: url('/assets/img/'+img+'') top center no-repeat
    height: 400px
    border-radius: 0 0 30px 30px
    background-size: cover
    position: relative
    margin-bottom: 50px

    h1
        position: absolute
        top: 40%
        left: 30%
        right: 30%
        text-align: center
        letter-spacing: 2px
        text-transform: uppercase
        text-shadow: 2px 3px #999

isFnFullOverviewContent() 
    h2
        display: block
        text-align: center

    p
        font-size: 16px
        color: #666
        width: 80%
        display: block
        margin: 0 auto 30px
        text-align: center
        line-height: 26px

//4.0 Content Global Styles
body
    font-family: font-text
    font-size: 14px
    color: #000

    h1, h2, h3, h4, h5
        font-family: font-title
        color: gold-color-brand
        font-weight: bold
        margin-bottom: 20px
        letter-spacing: 1px
    
    h1
        font-size: 36px
    h2
        font-size: 30px
    h3
        font-size: 24px
    
    p
        font-family: font-text
        color: #000
        text-align: justify
    
    a.is-float-bubble
        position: fixed
        right: 15px
        z-index:9901
        color: #fff
        display: block
        width: 60px
        height: 60px
        line-height: 60px
        font-size: 30px
        text-align: center
        border-radius: 100%
        transition: 0.5s;
    
    a.is-whats
        background: #1EBEA5
        top: 40%
    a.is-chat
        background: facebook-color
        top: 50%

    form
        fieldset 
            padding: 0
            box-sizing: border-box
            margin: 0

            label   
                display: block
                margin-bottom: 3px
                font-size: 13px
                color: #666
            input,
            select,
            textarea
                box-sizing: border-box
                padding: 10px
                outline: 0
                width: 100%
                border: 2px solid rgba(0,0,0,0.15)
                color: gold-color-brand
                font-size: 16px
                resize: none
                isFnTransition(0.3s)

                &:focus
                    border: 2px solid gold-color-brand
            
            a
                font-size: 16px
                letter-spacing: 1px
                display: block
                width: 180px
                isBubbleButton(gold-color-brand, #fff, 25px)

                i
                    margin-right: 10px

                &:hover
                    color: #fff
                

//5.0 Content Header
.is-header
    background: #FFF
    padding: 10px 0

    .is-brand
        background: none
        
        img 
            display: block
            width: 100px
            margin: 0 auto
    
    .is-box-contact
        text-align: right  
        padding-top: 30px

        span
            font-size: 14px
            color: #666
            display: block
            font-family: font-title, Arial, Helvetica, sans-serif
            letter-spacing: 1px

            i
                margin-right: 5px

        a
            color: gold-color-brand
            font-size: 16px        
            font-weight: bold
            display: block
            
            &:hover
                text-decoration: underline

    .btn-menu
        position: absolute;
        display: none
        top: 30px;
        right: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.5);
        border: solid 2px rgba(0, 0, 0, 0.5);

.is-header-fixed
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 9900
    box-shadow: 0 5px 15px rgba(0,0,0,0.2)

.is-subheader
    position: absolute
    top: 107px
    left: 0
    right: 0
    height: 60px
    background: rgba(0,0,0,0.6)
    z-index: 9910

    .is-menulist
        text-align: right
        line-height: 60px

        li
            display: inline-table
            font-family: font-title
            font-size: 18px
            letter-spacing: 2px                
            color: #fff
            text-transform: uppercase

            a
                color: inherit
                margin: 0 5px
                padding: 5px 15px
                border-radius: 5px
                isFnTransition(0.3s)
                    
            .is-current,
            a:hover
                background: gold-color-brand
                color: #fff
                

        .is-social
            margin: 0 3px
        
            a
                background: #FFF
                border-radius: 100%
                width: 30px
                height: 30px
                text-align: center
                line-height: 30px
                display: inline-block
                font-size: 16px
                padding: 0 0 0 1px
                isFnTransition(0.3s)

                &:hover
                    color: #fff

            .is-facebook
                color: facebook-color
               
                &:hover
                    background: facebook-color

            .is-twitter
                color: twitter-color
                
                &:hover
                    background: twitter-color
                
            .is-instagram
                color: instagram-color
        
                &:hover
                    background: instagram-color
           
        .is-first-social
            margin-left: 30px
            
        .is-lang
            margin-left: 30px

            a
                background: gold-color-brand
                padding: 5px 10px
                border-radius: 5px
                isFnTransition(0.3s)

                &:hover
                    background: #fff
                    color: gold-color-brand

//6.0 Content Footer
.is-footer 
    background: rgba(0,0,0,.1)
    padding: 30px 0

    .is-brand
        img 
            display: block
            width: 120px
            margin-bottom: 30px
        
        .is-social
            margin-bottom: 20px

            a
                margin: 0 5px
                background: #FFF
                border-radius: 100%
                width: 30px
                height: 30px
                text-align: center
                line-height: 30px
                display: inline-block
                isFnTransition(0.3s)

                &:hover
                    color: #fff

            .is-facebook
                color: facebook-color
                &:hover
                    background: facebook-color

            .is-twitter
                color: twitter-color
                &:hover
                    background: twitter-color
            
            .is-instagram
                color: instagram-color
                &:hover
                    background: instagram-color
    
    strong 
        color: #000
        display: block
        margin-bottom: 10px
        font-family: font-title
        font-size: 16px
        letter-spacing: 1px

    ul
        li
            display: block
            margin-bottom: 3px

            a
                color: gold-color-brand

                &:hover
                    text-decoration: underline
    
    .is-item
        color: gold-color-brand
        margin-bottom: 20px

        span,
        small
            display: block
        
        small
            i
                margin-right: 5px

    .is-item:last-of-type
        margin-bottom: 0

//7.0 Content Home
.is-home-section
    .is-slider
        height: 700px
        overflow: hidden
        position: relative

        h1
            position: absolute
            top: 40%
            left: 30%
            right: 30%
            text-align: center
            color: #fff
            font-size: 46px
            z-index: 8000
            letter-spacing: 5px

        .is-services-grid
            position: absolute
            left: 0
            right: 0
            bottom: 0
            z-index: 9000
            background: rgba(255,255,255,0.7)

            .is-item
                padding: 20px
                box-sizing: border-box
                isFnTransition(0.3s)

                i,
                strong 
                    font-size: 16px
                    color: #000
                
                strong 
                    color: gold-color-brand
                    font-family: font-title
                    font-size: 18px
                    font-weight: normal

                    a
                        color: inherit

                        &:hover
                            text-decoration: underline
                
                i
                    margin-right: 5px
                
                p
                    margin-top: 15px
                
                &:hover
                    background: #FFF
    
    .is-overview
        h2
            margin-top: 50px
            margin-bottom: 30px

        p
            font-size: 16px
            color: #666
            margin-top: 20px

        img
            max-width: 75% 
            display: block
            margin: 0 auto
        
        a
            display: block
            width: 200px
            font-size: 16px
            margin-top: 30px
            isBubbleButton(gold-color-brand, #fff, 25px)
        
        .is-form
            text-align: center

            h4
                margin-top: 50px
                font-size: 20px
                margin-bottom: 0

            p
                color: #000
                text-align: center
                margin-top: 0
                margin-bottom: 30px
            
            form
                width: 60%
                margin: 0 auto
                background: gold-color-brand
                box-sizing: border-box
                padding: 20px
                border-radius: 5px 5px 0 0

                fieldset 
                    margin-bottom: 20px

                    label 
                        color: #fff
                        font-size: 14px
                        display: block
                        margin-bottom: 5px
                        text-align: left
                    
                    input,
                    select
                        border: 0
                        outline: 0
                        color: #000
                    
                    button
                        display: block
                        width: 100%
                        padding: 10px
                        background: gray-color-brand
                        color: #fff
                        font-size: 18px
                        font-family: font-title
                        border: 0
                        cursor: pointer
                        letter-spacing: 2px
                        isFnTransition(0.3s)

                        i
                            margin-right: 10px

                        &:hover
                            background: gray-color-brand
                            box-shadow: 0 10px 15px rgba(0,0,0,0.3)
                            color: #fff

                fieldset:last-of-type
                    margin-bottom: 0

    .is-counters
        background: gray-color-brand
        padding: 20px 0
        color: #FFF
        text-align: center

        strong,
        small,
        span 
            display: block
            color: #fff
        
        strong 
            font-size: 38px
            margin-bottom: 10px
            small
                display: inline
                font-size: 34px
        small
            font-size: 14px
        span 
            font-size: 20px
            font-family: font-title
            letter-spacing: 5px
    
    .is-services
        h2
            display: block
            text-align: center
            margin-top: 50px

        .is-item
            margin-bottom: 30px

            h3
                font-size: 18px
                color: #999
                margin-bottom: 10px

                a
                    color: inherit

                    &:hover
                        text-decoration: underline
            ul
                li
                    display: block
                    margin-bottom: 5px

                    i
                        color: gold-color-brand
                        margin-right: 5px

    .is-locations
        margin-bottom: 50px

        h2
            text-align: center

        .is-item
            img 
                display: block
                margin: 0 auto 20px
                border-radius: 10px
            
            strong,
            span 
                display: block
            
            strong 
                font-family: font-title
                color: gold-color-brand
                font-size: 16px
                letter-spacing: 1px
                margin-bottom: 5px
    
//8.0 Content About
.is-about-section
    .is-header-img
        isFnHeaderImage('quienes-somos-bufete-frias.jpg')

        h1
            color: #fff

    .is-overview 
        isFnFullOverviewContent()

    .is-markers
        padding: 50px 0

        img 
            display: block
            margin: 0 auto
            width: 840px
        
        span 
            display: none
        
        .is-marker
            position: absolute
            width: 50px
        .is-cancun
            bottom: 260px
            right: 240px
        .is-puebla
            bottom: 175px
            right: 600px
        .is-mexico
            bottom: 195px
            right: 590px

    .is-locations
        margin-bottom: 50px

        h2
            text-align: center

        .is-item
            img 
                display: block
                margin: 0 auto 20px
                border-radius: 10px
            
            strong,
            span 
                display: block
            
            strong 
                font-family: font-title
                color: gold-color-brand
                font-size: 16px
                letter-spacing: 1px
                margin-bottom: 5px

//9.0 Content Services
.is-service-section
    .is-header-img
        isFnHeaderImage('servicios-bufete-frias.jpg')

        h1
            color: #fff
    
    .is-overview
        isFnFullOverviewContent()
    
    .is-services
        margin-top: 50px
        margin-bottom: 100px

        .is-item
            margin-bottom: 50px
            border-radius: 10px
            isFnTransition(0.3s)

            img 
                display: block
                margin: 0 auto 30px
                border-radius: 10px
            
            a   
                color: #000
                isFnTransition(0.3s)

                i
                    margin-left: 5px
                    font-size: 13px
                
                &:hover
                    color: gold-color-brand

            h3
                margin-bottom: 15px
                font-size: 18px

                a
                    color: inherit

                    &:hover
                        text-decoration: underline
            
            p
                margin-bottom: 10px

            &:hover
                box-shadow: 0 5px 15px rgba(0,0,0,0.2)
    
    .is-locations
        background: rgba(0,0,0,0.05)
        padding: 50px 0

        h3
            margin-bottom: 20px

        p
            width: 80%
        
        .is-item
            img 
                display: block
                margin: 0 auto 20px
                border-radius: 10px
            
            strong,
            span 
                display: block
            
            strong 
                font-family: font-title
                color: gold-color-brand
                font-size: 16px
                letter-spacing: 1px
                margin-bottom: 5px

//11.0 Content Service Page
.is-service-page-section
    .is-header-img
        isFnHeaderImage('servicios-bufete-frias.jpg')

        h1
            color: #fff
    
    .is-overview
        color: #666

        p
            font-size: 16px
            margin-bottom: 30px
            line-height: 26px
        
        .is-first
            margin-top: 75px
        
        strong
            font-size: 18px
            display: block
            margin-bottom: 20px
        
        ul
            padding-left: 5px
            font-size: 16px

            li
                display: block
                margin-bottom: 5px

                i
                    margin-right: 10px
                    font-size: 18px
                    color: gold-color-brand
        
    .is-contact
        background: rgba(0,0,0,0.05)
        margin-top: 75px
        
        .is-locations,
        .is-form
            .is-box
                padding: 30px
                margin-top: 0

        .is-locations
            div
                margin-top: 30px

                strong,
                span 
                    display: block
                strong 
                    font-family: font-title
                    font-size: 16px
                    letter-spacing: 1px
                    color: gold-color-brand
                    margin-bottom: 10px
                span 
                    margin-bottom: 3px

                    i
                        margin-right: 5px

        .is-form
            background: rgba(0,0,0,0.02)

            p
                margin-bottom: 30px
            
//12.0 Content Contact
.is-contact-section
    .is-header-img
        isFnHeaderImage('contacto-bufete-frias.jpg')

        h1
            color: #fff
    
    .is-locations
        h3
            font-size: 20px
        
        p
            margin-bottom: 20px

        span 
            display: block
            margin-bottom: 5px

            i
                margin-right: 5px
    
    .is-form
        margin-top: 100px
        background: rgba(0,0,0,0.05)

        .is-text
            padding: 30px

            p
                font-size: 16px
                color: #666666
                line-height: 24px
                margin-bottom: 30px

            span,
            a
                display: block
                margin-bottom: 5px

                i
                    width: 20px
                    margin-left: 5px

            a:first-of-type
                margin-top: 20px
            
            a.is-facebook
                color: facebook-color
            a.is-twitter
                color: twitter-color
            a.is-instagram
                color: instagram-color

        .is-frm
            background: rgba(0,0,0,0.02)

            form
                padding: 30px


//RESPONSIVE RULES
//Widescreen
@media only screen and (min-width: 1216px) and (max-width: 1407px) {

    .is-about-section .is-markers .is-cancun { right: 50px; }
    .is-about-section .is-markers .is-puebla { right: 405px; }
    .is-about-section .is-markers .is-mexico { right: 400px; }
 

}

//Desktop
@media only screen and (min-width: 1024px) and (max-width: 1215px)
    //Header
    .is-subheader
        top: 107px

    //Home
    .is-home-section 
        .is-overview 
            img 
                margin-top: calc(100% - 300px)

    .is-about-section .is-markers .is-cancun { right: 50px; }
    .is-about-section .is-markers .is-puebla { right: 405px; } 
    .is-about-section .is-markers .is-mexico { right: 400px; }



//Tablet
@media only screen and (min-width: 769px) and (max-width: 1023px)

    //Header
    .is-header 
        padding-top: 10px

    .is-header 
        .is-brand 
            width: 100% !important
            background: rgba(255, 255, 255, 0.5)

            .btn-menu 
                display: flex

            a.logo
                display: block 
                width: fit-content

            img 
                display: block 
                margin: auto 
                width: auto 
                max-height: 80px

    .is-header .is-box-contact { display: none; }
    .is-subheader { position: relative; width: 100%; overflow: hidden; top: 0px; left: 0px; background: rgba(0, 0, 0, 1); opacity: 0; transition: 0.5s; height: 0px; }
    .is-subheader .container, .is-subheader .columns, .is-subheader .column { padding: 0px !important; margin: 0px !important; }
    .is-subheader ul { line-height: 40px !important; overflow: hidden; margin: 0px !important; padding: 20px 0px !important; }
    .is-subheader ul li { display: block; width: 100%; margin: 10px 0px !important; }
    .is-subheader ul li a { margin: 0px !important; display: block; border-radius: 0px !important; text-align: center; font-size: 20px; padding: 0px !important; }
    .is-subheader ul .is-social, .is-subheader ul .is-lang { display: inline-block; width: fit-content; }
    .is-subheader ul .is-social { float: left; }
    .is-subheader ul .is-lang { float: right; }
    .is-subheader ul .is-social a, .is-subheader ul .is-lang a { width: 35px !important; height: 35px !important; line-height: 35px !important; font-size: 18px !important; }
    .is-subheader ul .is-first-social { margin-left: 10px !important; }
    .is-subheader ul .is-lang { margin-left: 5px !important; }
    .is-subheader ul .is-social { margin-right: 5px !important; border-radius: 100% !important; }
    //Home
    .is-home-section .is-slider h1 { left: 0 !important; right: 0 !important; }
    .is-home-section .is-overview img { margin-top: calc(100%); }
    //Todas
    .is-header-img h1 { left: 0 !important; right: 0 !important; }



//Mobile
@media only screen and (max-width: 768px) 
    
    .is-body
        p
            text-align: justify

    //Header
    .is-header { padding-top: 10px; }
    .is-header .is-brand { width: 100% !important; background: rgba(255, 255, 255, 0.5); }
    .is-header .is-brand .btn-menu { display: flex; }
    .is-header .is-brand a.logo { display: block; width: fit-content; }
    .is-header .is-brand img { display: block; margin: auto; width: auto; max-height: 80px; }
    .is-header .is-box-contact { display: none; }
    .is-subheader { position: relative; width: 100%; overflow: hidden; top: 0px; left: 0px; background: rgba(0, 0, 0, 1); opacity: 0; transition: 0.5s; height: 0px; }
    .is-subheader .container, .is-subheader .columns, .is-subheader .column { padding: 0px !important; margin: 0px !important; }
    .is-subheader ul { line-height: 40px !important; overflow: hidden; margin: 0px !important; padding: 20px 0px !important; }
    .is-subheader ul li { display: block; width: 100%; margin: 10px 0px !important; }
    .is-subheader ul li a { margin: 0px !important; display: block; border-radius: 0px !important; text-align: center; font-size: 20px; padding: 0px !important; }
    .is-subheader ul .is-social, .is-subheader ul .is-lang { display: inline-block; width: fit-content; }
    .is-subheader ul .is-social { float: left; }
    .is-subheader ul .is-lang { float: right; }
    .is-subheader ul .is-social a, .is-subheader ul .is-lang a { width: 35px !important; height: 35px !important; line-height: 35px !important; font-size: 18px !important; }
    .is-subheader ul .is-first-social { margin-left: 10px !important; }
    .is-subheader ul .is-lang { margin-left: 5px !important; }
    .is-subheader ul .is-social { margin-right: 5px !important; border-radius: 100% !important; }
    //Home
    .is-home-section .is-slider h1 { left: 0 !important; right: 0 !important; top: 10%; font-size: 30px; }
    .is-home-section .is-slider .is-services-grid { position: relative; margin: 30px 0px; }
    .is-home-section .is-slider { height: auto; }
    //Todas
    .is-header-img h1 { left: 0 !important; right: 0 !important; top: 50%; font-size: 30px; }
    //Foother
    .is-footer .is-brand img{ display: block; margin: 0px auto; }
    .is-footer .is-brand .is-social { text-align: center; margin-top: 15px; }
    .is-footer .is-by { text-align: center; display: block; }
    .is-footer strong, .is-footer ul li, .is-footer .is-item { text-align: center; }

    .is-about-section .is-markers { display: none; }